<div class="ui-g">
<div class="ui-g-2 ui-sm-6"> 
    <p-dropdown [options]="stateCodes" [(ngModel)]="stateCode" placeholder="Select State Code..." (onChange)="getLogs();" [style]="{'width': '100%'}"></p-dropdown>
</div>
<div class="ui-g-2 ui-sm-6">
    <p-calendar selectionMode="range" [ngModel]="date" [inputStyle]="{'width': '100%'}" (ngModelChange)="updateRangeDate($event);" showIcon=true></p-calendar>
</div>
<div class="ui-g-8 ui-sm-12">

</div>
  <div class="ui-g-12">
      <p-progressBar *ngIf="loading" mode="indeterminate"></p-progressBar>
      <p-dataTable *ngIf="!loading" [value]="logs" sortMode="multiple" [rows]="20" [paginator]="true" [pageLinks]="3">
        <p-column field="cd_cebroker_state" header="State Code" [sortable]="true"></p-column>
        <p-column field="pro_cde" header="Pro Code" [sortable]="true"></p-column>
        <p-column field="cd_profession" header="Profession" [sortable]="true"></p-column>
        <p-column field="id_license" header="License ID" [sortable]="true"></p-column>
        <p-column field="dt_end" header="Cycle End Date" [sortable]="true">
            <ng-template let-col let-log="rowData" pTemplate="body">
                <span >{{log[col.field] | date: 'yyyy/MM/dd'}}</span>
            </ng-template>
        </p-column>
        <p-column field="cd_environment" header="Environment" [sortable]="true"></p-column>
        <p-column field="dt_Start_Log" header="Start Log Date" [sortable]="true">
            <ng-template let-col let-log="rowData" pTemplate="body">
                <span >{{log[col.field] | date: 'yyyy/MM/dd hh:mm:ss'}}</span>
            </ng-template>
        </p-column>
        <p-column field="ds_compl_status_returned" header="Compliance Status" [sortable]="true"></p-column>
        <p-column field="dt_end_log" header="End Log Date" [sortable]="true">
            <ng-template let-col let-log="rowData" pTemplate="body">
                <span >{{log[col.field] | date: 'yyyy/MM/dd hh:mm:ss'}}</span>
            </ng-template>
        </p-column>
        <p-column field="cd_machine" header="Machine" [sortable]="true"></p-column>
        <p-column field="id_client_nbr" header="Client ID" [sortable]="true"></p-column>
      </p-dataTable>
  </div>
</div>

